{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = "main">
  <h1>Edit {{category.name}}</h1>

  <form action="#" method = "post">
    <div class="form">
      <label for="title">Title:<label>
        </br>
        <input type="text" class="form-control" name="title" value="{{category.name}}">
        <button type="submit" id="submit">
          Save
        </button>
      <a href = "#")}}'>
        <button>
          Cancel
        </button>
      </a>
    </div>
  </form>
</div>

{% endblock %}
