{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

  <h1>New Item</h1>
  <h3>Category: </h3>

  <form action="#" method="post">
    <label for="name">Title</label>
    <input type="text" maxlength="100" name="title">

    <label for="name">Description</label>
    <input type="text" maxlength="100" name="descrption">

    <label for="name">Category</label>
    <input type="text" maxlength="100" name="category">
    <button type="submit" id="submit">
      Create
    </button>
  </form>

  {% endblock %}
